body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.voting-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.option {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.progress-bar-container {
    display: flex;
    width: 100%;
    height: 20px;
    background-color: #ddd;
}

.progress-bar {
    height: 100%;
}

#floki-progress {
    background-color: #f00; /* Red for FLOKI */
}

#pepe-progress {
    background-color: #00f; /* Blue for PEPE */
}
